*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background-color: black;
}
header{
    background-image: url(../Assets/Banner.jpg);
    height: 80vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
header .box{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:black;
    opacity: 0.6;
    position: absolute;
    z-index: 1;
}
nav{
    display: flex;
justify-content: space-between;
    position: relative;
    margin: 0px 150px 0px 100px;
    top: 20px;
    z-index: 10;
}
.language-select{
    position: relative;
    display: inline-flex;
    top: 10px;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(23, 23, 23,0.5);
    border-radius: 4px;
    padding: 0 10px;
    cursor: pointer;
}
.language-select select option{
    height: 100%;
    background: transparent;
    color: white;
    border: none;
    outline: none;
}

select{
     padding: 0px 15px 0px 14px;
    background-color: rgba(23, 23, 23, 0.5);
    color: white;
    border: none;
     font-size: 1.2rem;
     cursor: pointer;
}

.signinButton{
    margin-left: 8px;
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 10px 25px;
    font-size: larger;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.content{
    display: flex;
    max-width: 70%;
    flex-direction: column;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 10;
    position: relative;
    gap: 10px;
}

.content> :nth-child(1){
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    margin: 0px 0px 16px ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.content> :nth-child(2){
     font-weight: bolder;
        text-align: center;
    margin: 0px 0px 10px ;
    font-size: 2rem;
}

.content> :nth-child(3){
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 0px 0px 10px ;   
}

.search{
    display: flex;
    gap: 2px;
}
.getstarted{
    color: white;
    background-color:red;
   border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
   padding: 20px 10px 20px 10px;
    font-size: 1.5rem;
    cursor: pointer;
}
.content input{
   padding: 20px 180px 20px 10px;
    font-size: 1.2rem;
    background-color: rgba(23, 23, 23, 0.5);
    border:1px solid grey;
    border-radius: 5px;
    color: white;
}
.curved-section{
    position: relative;
    height: 40px;
    background:radial-gradient(ellipse at top, #0a0f2c 0%, #000 70%) ;
    overflow: hidden;
}
.curved-section::before{
    position: absolute;
    background: radial-gradient(ellipse at top,rgba(255,0,76,1)0%,rgba(255,0,76,0.8)40%,rgba(255,0,76,0.1)100%);
    height: 2px;
    content: "";
    top: 10px;
    left: 0;
    right: 0;
    border-radius:50% 50% 0 0 / 100% 100% 0 0 ;

}
.container{
    height: 300px;
    max-width: 900px;
    margin-top: 30px;
    margin-left: 12vw;
    margin-right: 12vw;
    margin-bottom: 100px;
}

.section-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
    color: white;
}
.slider{
    cursor: pointer;
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    width: 68vw;
    
}
@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  .slider {
    overflow-x: scroll;
  }

  .card {
    min-width: 150px;
  }
}

.slider::-webkit-scrollbar{
    display: none;
}
.card{
    position: relative;
    flex: 0 0 auto;
    width: 200px;
    height: 280px;
    scroll-snap-align: start;
    border-radius: 8px;
    overflow: visible;
    padding: 15px 10px;
    transition: transform 0.3s ease, box-shadow ease;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}
.card:hover{
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.2);
}

.number{
    position: absolute;
    bottom: 10px;
    left: -15px;
    font-size: 75px;
    color: black;
    -webkit-text-stroke: 2px white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.container2{
    margin-top: 30px;
    margin-left: 12vw;
    margin-right: 12vw;
    height: 400px;
    width: 75vw;
    overflow: hidden;
}
.section{
    display: flex;
    gap: 10px;
    height: 380px;
    width: 75vw;
}
.card2{
    border: 1px solid green;
    height: 325px;
    width: 37vw;
    flex: 10px 10px 10px 10px;
    background: linear-gradient(180deg, #1e1e3f 50%, #220222 100%);
    border-radius: 20px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card2 h3{
        font-size: 1.3rem;
}

.card2 p{
    color:rgba(255, 255, 255, 0.7);
}

.smallimg{
  position: relative;
  left: 70%;
  top: 8%;
}

.container3{
    margin-top: 30px;
    margin-left: 12vw;
    margin-right: 12vw;
    height: 630px;
    width: 75vw;
}

.questionbox{
    background-color: #2d2d2d;
    width: 75vw;
    margin: 5px auto;
}

.faq{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 22px;
    font-weight: 400;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.questionbox:hover{
    background-color: #4d4d4d;
}

.content2{
    width: 80vw;
    margin-left: 10vw;
}
.content2 p{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px 0px 18px;
}
.content2 .search{
    display: flex;
    gap: 5px;
    justify-content: center;
}

#search input{
    padding: 20px 325px 20px 10px;
    font-size: 1.2rem;
    background-color: rgba(23, 23, 23, 0.5);
    border:1px solid grey;
    border-radius: 5px;
    color: white;
}

#search .getstarted{
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 3px 35px 3px 20px;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
     margin-top: 30px;
    margin-left: 12vw;
    margin-right: 12vw;
    height: 630px;
    width: 75vw;
}
.call{
    color: rgba(255, 255, 255, 0.7);
}
.call a{
    color: rgba(255, 255, 255, 0.7);
}
.foot-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.foot{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}

.foot a{
    color: rgba(255, 255, 255, 0.7);
    padding-top: 20px;
}

footer p{
    color: rgba(255, 255, 255, 0.7);
    padding-top: 30px;
}

#para{
font-size: 0.8rem;
padding-top: 50px;
}
#para a{
    color: rgb(68, 142, 244);
    margin-left: 10px;
}

#btn2{
    margin-top: 50px;
}
